.bullet-points-container {
    list-style: none; 
    padding: 0; 
  }
  
  .bullet-point-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 1.4em;
  }
  
  .bullet-marker {
    width: 20px; 
    height: 7px; 
    border-radius: 30%; 
    margin-right: 24px; 
    
  }
  